<form action="#" th:action="@{/adduser}" th:object="${user}" modelAttribute="user" method="post" xmlns:th="http://www.w3.org/1999/xhtml">
    <label for="firstname">Firstname</label>
    <input type="text" th:field="*{firstname}" id="firstname" placeholder="Firstname">
    <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span>
    <label for="lastname">Lastname</label>
    <input type="text" th:field="*{lastname}" id="lastname" placeholder="Lastname">
    <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>
    <label for="phoneNumber">PhoneNumber</label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber" placeholder="PhoneNumber">
    <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <label for="role">Role</label>
    <select name="role" id="role">
        <option value="Student">Student</option>
        <option value="Professor">Professor</option>
        <option value="Admin">Admin</option>
    </select>
    <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></span>
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Username">
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    <input type="submit" value="Add User">
</form>