<form action="#" th:action="@{/adduser}" method="post" xmlns:th="http://www.w3.org/1999/xhtml">
    <body style="background-color:lightsteelblue;">
    <div>
        <label for="firstName">Prenume</label>
        <input type="text" name="firstName" id="firstName" placeholder="Prenume">
    </div>
    <br>
    <div>
        <label for="lastName">Nume</label>
        <input type="text" name="lastName" id="lastName" placeholder="Nume">
    </div>
    <br>
    <div>
        <label for="phoneNumber">Numar de telefon</label>
        <input type="text" name="phoneNumber" id="phoneNumber" placeholder="Numar de telefon">
    </div>
    <br>
    <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="Email">
    </div>
    <br>
    <div>
        <label for="role">Rol</label>
        <select name="role" id="role">
            <option value="Student">Student</option>
            <option value="Professor">Profesor</option>
            <option value="Admin">Admin</option>
        </select>
    </div>
    <br>
    <div>
        <label for="username">Utilizator</label>
        <input type="text" name="username" id="username" placeholder="Utilizator">
    </div>
    <br>
    <div>
        <label for="password">Parola</label>
        <input type="text" name="password" id="password" placeholder="Parola">
    </div>
    <br>
    <div>
        <label for="group">Grupa</label>
        <select name="group" class="form-control" id="group">
            <option th:value="-1" >Selecteaza grupa</option>
            <option th:each="group: ${classes}" th:value="${group.id}" th:text="${group.name}"></option>
        </select>
    </div>
    <br>
    <div>
        <tr>
            <td>Cursuri</td>
            <td>
                <th:block th:each="course : ${courses}">
                    <input type="checkbox" name="courseRegistrations" th:value="${course.id}">
                    <label th:text="${course.name}"></label>
                </th:block>
            </td>
        </tr>
    </div>
    <br>
    <div>
        <input type="submit" value="Adauga Utilizator">
    </div>
</form>