<form action="#" th:action="@{/adduser}" method="post" xmlns:th="http://www.w3.org/1999/xhtml">
    <div>
        <label for="firstName">First name</label>
        <input type="text" name="firstName" id="firstName" placeholder="Firstname">
    </div>
    <br>
    <div>
        <label for="lastName">Last name</label>
        <input type="text" name="lastName" id="lastName" placeholder="Lastname">
    </div>
    <br>
    <div>
        <label for="phoneNumber">Phone Number</label>
        <input type="text" name="phoneNumber" id="phoneNumber" placeholder="PhoneNumber">
    </div>
    <br>
    <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="Email">
    </div>
    <br>
    <div>
        <label for="role">Role</label>
        <select name="role" id="role">
            <option value="Student">Student</option>
            <option value="Professor">Professor</option>
            <option value="Admin">Admin</option>
        </select>
    </div>
    <br>
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username">
    </div>
    <br>
    <div>
        <label for="password">Password</label>
        <input type="text" name="password" id="password" placeholder="Password">
    </div>
    <br>
    <div>
        <input type="submit" value="Add User">
    </div>
</form>