<form action="#" th:action="@{/addcourse}" method="post" xmlns:th="http://www.w3.org/1999/xhtml">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Name">
    </div>
    <br>
    <div>
        <label for="numberOfCredits">Number Of Credits</label>
        <input type="number" name="numberOfCredits" id="numberOfCredits" placeholder="Number Of Credits">
    </div>
    <br>
    <div>
        <input type="submit" value="Add Course">
    </div>
</form>