<form action="#" th:action="@{/addgroup}" method="post" xmlns:th="http://www.w3.org/1999/xhtml">
    <body style="background-color:lightsteelblue;">
    <div>
        <label for="name">Nume grupa</label>
        <input type="text" name="name" id="name" placeholder="Nume grupa">
    </div>
    <br>
    <div>
        <label for="year">An</label>
        <input type="number" name="year" id="year" placeholder="An">
    </div>
    <br>
    <div>
        <input type="submit" value="Adauga Grupa">
    </div>
</form>