<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title> Structura anului universitar 2020-2021 !</title>
</head>
<body>
<h1>Structura anului universitar 2020-2021 !</h1>

<div>
    <p><a href="/admin">Sectiunea admin</a></p>
</div>
<div>
    <p><a href="/student">Sectiunea studenti</a></p>
</div>
<div>
    <p><a href="/professor">Sectiunea profesori</a></p>
</div>


<div>
    <p>Structura anului universitar cuprinde două semestre (semestrul din toamnă şi cel din primăvară).
    <br>
        Perioada de vară (lunile iulie, august și septembrie) este dedicată activităţilor de practică de specialitate,
        <br>
        desfăşurate de către studenţi în organizații, asociații, diferite instituții, companii. </p>
</div>
</body>

</html>