<form action="#"
      th:action="@{/update/{id}(id=${user.id})}"
      th:object="${user}"
      method="post" xmlns:th="http://www.w3.org/1999/xhtml">
    <body style="background-color:lightsteelblue;">
    <div>
        <label for="firstName">Prenume</label>
        <input type="text" th:field="*{firstName}" id="firstName" placeholder="Firstname">
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
    </div>
    <br>
    <div>
        <label for="lastName">Nume</label>
        <input type="text" th:field="*{lastName}" id="lastName" placeholder="LastName">
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
    </div>
    <br>
    <div>
        <label for="phoneNumber">Numar de telefon</label>
        <input type="text" th:field="*{phoneNumber}" id="phoneNumber" placeholder="PhoneNumber">
        <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
    </div>
    <br>
    <div>
        <label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email" placeholder="Email">
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    </div>
    <br>
    <div>
        <label for="role">Rol</label>
        <select name="role" id="role">
            <option value="Student">Student</option>
            <option value="Professor">Professor</option>
            <option value="Admin">Admin</option>
        </select>
    </div>
    <br>
    <div>
        <label for="username">Utilizator</label>
        <input type="text" th:field="*{username}" id="username" placeholder="Username">
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
    </div>
    <br>
    <div>
        <label for="password">Parola</label>
        <input type="text" th:field="*{password}" id="password" placeholder="Password">
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    </div>
    <br>
    <div>
        <label for="group">Grupa</label>
        <select name="group" class="form-control" id="group">
            <option>Selecteaza grupa</option>
            <option th:each="group: ${classes}" th:value="${group.id}" th:text="${group.name}"></option>
        </select>
    </div>
    <br>
    <div>
        <tr>
            <td>Cursuri</td>
            <td>
                <th:block th:each="course : ${courses}">
                    <input type="checkbox" name="cRegistrations" th:value="${course.id}">
                    <label th:text="${course.name}"></label>
                </th:block>
            </td>
        </tr>
    </div>
    <br>
    <div>
        <input type="submit" value="Update User">
    </div>
</form>